## Section 2: Data discovery and exploration

This section does data discovery to look at the data itself and understand it from a larger persepctive before diving into specifics of the data.

This section also dives into the data in order to better understand how COVID may have affected enrollment of schools in California. We look for trends in order to start to tell our data story and answer our questions.  

We complete data exploration by creating graphics and spreadsheets by different groups in order to understand where the most and least affected groups of individuals were within the California school district. 

### Section 2A: Initial discovery

This section begins with initially looking at the dataframe itself to include how big it is, if it needs any additional data carpentry by checking for na's, summary of the columns to understand initial ideas of what is in the columns (min, max, mean, etc.), look at some unique values, filter the data to better understand what a single category of ethnic and school looks like over the years to begin to understand how the data could be trended, and examine the class of the variables

In [1]:
#load libraries needed for the notebook
library(dplyr)
library(tidyr)
library(ggplot2)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
#Load in the dataframe from our saved .Rda file

df <- readRDS(file="Group7DataFrame.Rda")

In [3]:
nrow(df)

[1] 912401

In [4]:
df$Year = as.factor(df$Year)

In [5]:
#summarize the data
summary(df)

    CDS_CODE                    COUNTY                        DISTRICT
 Min.   :1.100e+12   Los Angeles   :189443   Los Angeles Unified  : 76820
 1st Qu.:1.965e+13   San Diego     : 75173   San Diego Unified    : 22642
 Median :3.167e+13   Orange        : 60572   San Francisco Unified: 12807
 Mean   :2.956e+13   San Bernardino: 53700   Oakland Unified      : 11682
 3rd Qu.:3.776e+13   Riverside     : 49707   Fresno Unified       : 10072
 Max.   :5.873e+13   Santa Clara   : 41886   Long Beach Unified   :  9786
                     (Other)       :441920   (Other)              :768592
                             SCHOOL           ETHNIC      GENDER
 Nonpublic, Nonsectarian Schools: 13510   Min.   :0.000   F:448558
 Lincoln Elementary             :  2831   1st Qu.:2.000   M:462763
 District Office                :  2667   Median :5.000   X:  1080
 Washington Elementary          :  2389   Mean   :4.672
 Jefferson Elementary           :  2014   3rd Qu.:7.000
 Roosevelt Elementary           :  1915   Max.   :9.000
 (Other)                        :887075
      KDGN              GR_1              GR_2              GR_3
 Min.   :  0.000   Min.   :  0.000   Min.   :  0.000   Min.   :  0.000
 1st Qu.:  0.000   1st Qu.:  0.000   1st Qu.:  0.000   1st Qu.:  0.000
 Median :  0.000   Median :  0.000   Median :  0.000   Median :  0.000
 Mean   :  3.968   Mean   :  3.442   Mean   :  3.474   Mean   :  3.529
 3rd Qu.:  2.000   3rd Qu.:  2.000   3rd Qu.:  2.000   3rd Qu.:  2.000
 Max.   :400.000   Max.   :709.000   Max.   :458.000   Max.   :417.000

      GR_4              GR_5              GR_6              GR_7
 Min.   :  0.000   Min.   :  0.000   Min.   :  0.000   Min.   :  0.000
 1st Qu.:  0.000   1st Qu.:  0.000   1st Qu.:  0.000   1st Qu.:  0.000
 Median :  0.000   Median :  0.000   Median :  0.000   Median :  0.000
 Mean   :  3.564   Mean   :  3.589   Mean   :  3.596   Mean   :  3.623
 3rd Qu.:  2.000   3rd Qu.:  2.000   3rd Qu.:  1.000   3rd Qu.:  0.000
 Max.   :439.000   Max.   :386.000   Max.   :382.000   Max.   :382.000

      GR_8            UNGR_ELM             GR_9              GR_10
 Min.   :  0.000   Min.   : 0.00000   Min.   :   0.000   Min.   :   0.000
 1st Qu.:  0.000   1st Qu.: 0.00000   1st Qu.:   0.000   1st Qu.:   0.000
 Median :  0.000   Median : 0.00000   Median :   0.000   Median :   0.000
 Mean   :  3.632   Mean   : 0.00175   Mean   :   3.793   Mean   :   3.753
 3rd Qu.:  0.000   3rd Qu.: 0.00000   3rd Qu.:   0.000   3rd Qu.:   0.000
 Max.   :386.000   Max.   :38.00000   Max.   :1074.000   Max.   :1401.000

     GR_11             GR_12           UNGR_SEC          ENR_TOTAL
 Min.   :  0.000   Min.   :  0.00   Min.   : 0.00000   Min.   :   0.00
 1st Qu.:  0.000   1st Qu.:  0.00   1st Qu.: 0.00000   1st Qu.:   2.00
 Median :  0.000   Median :  0.00   Median : 0.00000   Median :   8.00
 Mean   :  3.663   Mean   :  3.76   Mean   : 0.02867   Mean   :  47.42
 3rd Qu.:  0.000   3rd Qu.:  0.00   3rd Qu.: 0.00000   3rd Qu.:  39.00
 Max.   :620.000   Max.   :525.00   Max.   :80.00000   Max.   :4154.00

     ADULT            Year
 Min.   : 0.00000   2015:129354
 1st Qu.: 0.00000   2016:129717
 Median : 0.00000   2017:129813
 Mean   : 0.00462   2018:130194
 3rd Qu.: 0.00000   2019:130220
 Max.   :79.00000   2020:131616
                    2021:131487

In [6]:
## Check for N/A values
sapply(df, function(x) sum(is.na(x)))

 CDS_CODE    COUNTY  DISTRICT    SCHOOL    ETHNIC    GENDER      KDGN      GR_1
        0         0         0         0         0         0         0         0
     GR_2      GR_3      GR_4      GR_5      GR_6      GR_7      GR_8  UNGR_ELM
        0         0         0         0         0         0         0         0
     GR_9     GR_10     GR_11     GR_12  UNGR_SEC ENR_TOTAL     ADULT      Year
        0         0         0         0         0         0         0         0

In [7]:
#Check unique values
unique(df$ETHNIC)
unique(df$GENDER)

[1] 1 3 9 7 2 6 4 5 0

[1] M F X
Levels: F M X

In [8]:
##Examine the class of the variables 
sapply(df, class)

 CDS_CODE    COUNTY  DISTRICT    SCHOOL    ETHNIC    GENDER      KDGN      GR_1
"numeric"  "factor"  "factor"  "factor" "integer"  "factor" "integer" "integer"
     GR_2      GR_3      GR_4      GR_5      GR_6      GR_7      GR_8  UNGR_ELM
"integer" "integer" "integer" "integer" "integer" "integer" "integer" "integer"
     GR_9     GR_10     GR_11     GR_12  UNGR_SEC ENR_TOTAL     ADULT      Year
"integer" "integer" "integer" "integer" "integer" "integer" "integer"  "factor"

In [9]:
# Filter the data to better understand what a single category of ethnic and school looks like over the years

df %>% select(ETHNIC,SCHOOL,ENR_TOTAL,GENDER,Year) %>% filter(ETHNIC=="2", SCHOOL=="Amelia Earhart Elementary")

   ETHNIC SCHOOL                    ENR_TOTAL GENDER Year
1  2      Amelia Earhart Elementary 101       F      2015
2  2      Amelia Earhart Elementary  94       M      2015
3  2      Amelia Earhart Elementary 105       F      2016
4  2      Amelia Earhart Elementary  93       M      2016
5  2      Amelia Earhart Elementary 101       F      2017
6  2      Amelia Earhart Elementary  99       M      2017
7  2      Amelia Earhart Elementary 112       F      2018
8  2      Amelia Earhart Elementary 120       M      2018
9  2      Amelia Earhart Elementary 105       F      2019
10 2      Amelia Earhart Elementary 121       M      2019
11 2      Amelia Earhart Elementary 110       F      2020
12 2      Amelia Earhart Elementary 129       M      2020
13 2      Amelia Earhart Elementary 106       F      2021
14 2      Amelia Earhart Elementary 121       M      2021

In [10]:
#Save our dataframe to an Rda file

saveRDS(df,file="Group7DataFrame.Rda")